#visualizer{
    display: flex;
    align-items: flex-end;
}

.element{
    background-color: bisque;
    border: 1px solid #c7b7a3;
    border-radius: 5px;
    width: 10px;
    display: inline-block;
}
